# System Directories
.obsidian/
.smart-env/
.scripts/
.vscode/
.trash/

# Personal Directories
Books/
Brainstorming/
Creatures/
Deities/
Districts/
Islands/
Locations/
Maps/
Miscellaneous/
NPCs/
Organizations/
PCs/
Players/
Session Planning/
Settlements/
Shops & Services/
Vessels & Vehicles/
World/
x_Website/
z_Backups/
z_Logs/
z_Scripts/
z_Testing/
z_Tools/
z_Assets/Characters/
z_Assets/Documents/
z_Assets/Icons/
z_Assets/Maps/
z_Assets/Misc/
z_Assets/Schedules/
z_Assets/Statblocks/
Home Page.md
Home Page - Session Prep.md
House Rules.md
publish.css
raw-items.md
Resources.md
Ship's Log.md
DM  Screen.canvas
z_Assets/Buttons.md
D&D Rules/.github/FUNDING.yml
